@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}


h1 {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 600;
  line-height: 1;
}
p {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
}

.preloader, 
.split-overlay,
 .overlay-tags {
  position: fixed;
  width: 100vw;
  height: 100svh;
}
.preloader, .split-overlay {
  background-color: #0a0a0a;
  color: #fff;

}
.preloader,
.overlay-tags {
  z-index: 2;
}
.split-overlay {
  z-index: 1;
}

.intro-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.outro-title {
  position: absolute;
  top: 50%;
  left: calc(50% + 10rem);
  transform: translate(-50%, -50%);

}
.tag {
  position: absolute;
  width: max-content;
  color: #5a5a5a;
  overflow: hidden;
}
.tag-1 {
  top: 15%;
  left: 15%;
}
.tag-2 {
  bottom: 15%;
  left: 25%;
} 
.tag-3 {
  bottom: 30%;
  right: 15%;
}
.container {
  position: relative;
  width: 100%;
  height: 100vh; /* Fixed height */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  clip-path: polygon(0 48%, 0 48%, 0 52%, 0 52%);
  z-index: 2;
  overflow: hidden; /* Important! */
}

.container .hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Center content */
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Ensure it's positioned above the clip-path */
  position: relative;
  z-index: 1;
}

.container nav ,
.container footer {
  position: relative;
  width: 100vw;
  padding: 2rem ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  z-index: 2;
} 

.container nav p#logo {
  font-size: 20px;
  font-weight: 600;
} 

.container .card{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 70%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0% 50%, 100% 50%, 100% 50%, 0% 50%);
  z-index: 3;
}

.card h1 {
  text-align: center;
  width: 100%;
  font-size: 3rem;
}
.card .char span {
 position: relative;
  display: inline-block;
  transform: translateY(100%);
  will-change: transform;
}

.intro-title .char,
 .outro-title .char,
 .card .char {
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.intro-title .char,
.outro-title .char {
   margin-top: 0.75rem;
   }

.intro-title .char span,
.outro-title .char span,
.tag .word {
  position: relative;
  display: inline-block;
  transform: translateY(-100%);
  will-change: transform;
}

.intro-title .first-char {
  transform-origin: top left;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 2.5rem;
  }
  .outro-title {
    left: calc(50% + 4rem);
  }
  .card {
    width: 75%;
  }

  .card h1 {
    font-size: 2.5rem;
  } 
  .intro-title .char,
  .outro-title .char {
    margin-top: 0.5rem;
  }
}

.auth-deck {
  position: relative;
  width: 100%;
  height: 100%;
}

.auth-card {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  background: white;
  border-radius: 1rem;
  will-change: transform;
}

/* default stacked state */
.signup-card {
  pointer-events: none;
}
.login-card {
  z-index: 2;
}